USE [ToDoAppDB]
GO
/****** Object:  StoredProcedure [dbo].[CreateAndGetToDoList]    Script Date: 27-03-2021 14:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [CreateAndGetToDoList] '<InsertData><ToDoListName>MyfirstTODolist</ToDoListName></InsertData>','Insert'
ALTER PROCEDURE [dbo].[CreateAndGetToDoList] 
	-- Add the parameters for the stored procedure here
	@DataXML nvarchar(MAX),
	@type varchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
	create table #ToDoList(ToDoListName nvarchar(50))
	if(@type='Get')
	begin
		Select distinct ToDoListName from ToDoList
	end
	if(@type='Insert')
	begin
			Declare @XML xml
			set @XML=@DataXML

			insert into #ToDoList
			select   
                Tab.Col.value('(ToDoListName)[1]', 'nvarchar(20)')  
            from @XML.nodes('/InsertData') Tab(Col)

			Declare @ToDoList nvarchar(50)
			set @ToDoList=(select distinct ToDoListName from #ToDoList)

			if((select isnull(count(*),0) from ToDoList where ToDoListName = @ToDoList)= 0)
			begin
				insert into ToDoList values (@ToDoList)
			end


			Select distinct ToDoListName from ToDoList where isnull(ToDoListName,'')<>''
	end

	if(@type='Delete')
	begin
			Declare @XML_del xml
			set @XML_del=@DataXML

			insert into #ToDoList
			select   
                Tab.Col.value('(ToDoListName)[1]', 'nvarchar(20)')  
            from @XML_del.nodes('/InsertData') Tab(Col)

			Declare @ToDoList_del nvarchar(50)
			set @ToDoList_del=(select distinct ToDoListName from #ToDoList)

			if((select isnull(count(*),0) from ToDoList where ToDoListName = @ToDoList_del)> 0)
			begin
				delete from ToDoList where ToDoListName=@ToDoList_del
				delete from ToDoListItem where ToDoListName=@ToDoList_del
			end


			Select distinct ToDoListName from ToDoList where isnull(ToDoListName,'')<>''
	end
END
