USE [ToDoAppDB]
GO
/****** Object:  StoredProcedure [dbo].[CreateAndGetToDoListItemByName]    Script Date: 27-03-2021 14:11:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CreateAndGetToDoListItemByName] 
	-- Add the parameters for the stored procedure here
	@DataXML nvarchar(MAX),
	@listName nvarchar(50),
	@type varchar(100)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	if(@type='Get')
	begin
		Select distinct ToDoListId,ToDoListItem,priority from ToDoListItem where ToDoListName=@listName order by priority Asc
	end
	if(@type='Insert')
	begin
			Declare @XML xml
			set @XML=@DataXML

			delete from ToDoListItem where ToDoListName=@listName 

			insert into ToDoListItem
			select   
                Tab.Col.value('(ToDoListName)[1]', 'nvarchar(50)'),  
				Tab.Col.value('(ToDoListItem)[1]', 'nvarchar(100)'),  
				Tab.Col.value('(priority)[1]', 'int')  
            from @XML.nodes('/InsertData/DataRow') Tab(Col)



			
		Select distinct ToDoListId,ToDoListItem,priority from ToDoListItem where isnull(ToDoListName,'')<>'' and ToDoListName=@listName  order by priority Asc
	end
END
